QUESTION 1> What are data structures, and why are they important?
ANSWER 1> Data Sructure are ways of organizing and storing data in a computer so that it can be used efficiently.They help in managing and processing            data in  structure and logical manner.
          They are important because-
          1.Efficient data management.
          2.Better Performance.
          3.Solving complex problem.

QUESTION 2> Explain the difference between mutable and immutable data types with examples?
ANSWER 2>  Mutable can be changed after they created. User can  add, remove, or change items.
           Example- List, Dictionary, Set
           Immutable cannot be changed after they are created. Any change create new object.
           Example- Tuple

QUESTION 3> What are the main differences between lists and tuples in Python?
ANSWER 3> The main difference between list and tuple is-
          1.The bracket use in list is square bracket whereas in tuple it it round bracket.
          2. List are mutable whereas tuple are immutale.

QUESTION 4> Describe how dictionaries store data?
ANSWER 4> Dictionary is a data structure that store data as a key-value pair.

QUESTION 5> Why might you use a set instead of a list in Python?
ANSWER 5> We might use set instead of list when in data we have repeated items but we want it only one time so we use set.

QUESTION 6> What is a string in Python, and how is it different from a list?
ANSWER 6> String is a sequence of charcater which helps to represent and manipulate textual data in proramming language.
          The difference between string and list is string is immutable where as list is mutable.

QUESTION 7> How do tuples ensure data integrity in Python?
ANSWER 7> Tuples help to protect data by making sure it cannot be changed once created.

QUESTION 8> What is a hash table, and how does it relate to dictionaries in Python
ANSWER 8> A hash table is a data structure that stores data in key value pairs using a technique called hashing.
          In python, the dictionary is a implementation of a hash table.

QUESTION 9>  Can lists contain different data types in Python?
ANSWER 9>Yes

QUESTION 10>  Explain why strings are immutable in Python?
ANSWER 10> Strings are immutable in python because-
           1. If string could change, bugs could occur when multiple variables point to the same string.
           2. Immutablity ensures data safety and predictibility.

QUESTION 11> What advantages do dictionaries offer over lists for certain tasks?
ANSWER 11> Advantage do dictionary offer over list is
           1. Key value access.
           2. Better organized data.
           3. Flexible keys.

QUESTION 12> Describe a scenario where using a tuple would be preferable over a list?
ANSWER 12> When creating a employ ID or something which has to be fixed then tuple is more preferable than list.

QUESTION 13> How do sets handle duplicate values in Python?
ANSWER 13> A set in python automatically removes duplicate values.It onl keeps unique elements no matter how many duplicates you add.

QUESTION 14> How does the “in” keyword work differently for lists and dictionaries?
ANSWER 14> In list the "in" keyword checks whether a value is present among the elemets of the list where as in dictionary the "in" keyword
           cheks a key exist in the dictionary not b=value.

QUESTION 15> Can you modify the elements of a tuple? Explain why or why not?
ANSWER 15> No we cannot modify elements in the tuple because once a tuple is created its data get fixed.

QUESTION 16> What is a nested dictionary, and give an example of its use case?
ANSWER 16> A nested dictionary is a dictionary inside another another dictionary. It lets you store complex data ina structured and organized way
           likea table with rows and coloumn.

QUESTION 17> Describe the time complexity of accessing elements in a dictionary?
ANSWER 17> Accesing an element by key in a dictionary has average case time complexity of 0(1). This meanit take the same amount of time, no matter
           how many items are in the dictionary.

QUESTION 18> In what situations are lists preferred over dictionaries?
ANSWER 18>  When situation required no key value pair then list is preferred over dictionary.

QUESTION 19 > Why are dictionaries considered unordered, and how does that affect data retrieval?
ANSWER 19> Before pyhton 3.7 dictionary considered unordered but after python 3.7 it is considered ordered.

QUESTION 20 >Explain the difference between a list and a dictionary in terms of data retrieval?
ANSWER 20> In list data is retrieved by index where as in dictionary data is retrieved by key.

In [ ]:
# PRACTICAL QUESTION

In [3]:
#QUESTION 1> Write a code to create a string with your name and print it?
name="Abhishek Gupta"
print(name)
type(name)

Abhishek Gupta

str

In [4]:
#QUESTION 2> Write a code to find the length of the string "Hello World"?
k="Hello World"
len(k)

11

In [7]:
#QUESTION 3> Write a code to slice the first 3 characters from the string "Python Programming"?
a="Python Programming"
print(a)
a[0:4]

Python Programming

'Pyth'

In [16]:
#QUESTION 4> Write a code to convert the string "hello" to uppercase?
b="hello"
print(b)
print(b.upper())

hello
HELLO

In [29]:
#QUESTION 5> Write a code to replace the word "apple" with "orange" in the string "I like apple"?
c="I like apple"
print(c)
c.replace("apple","orange")

I like apple

'I like orange'

In [40]:
#QUESTION 6> Write a code to create a list with numbers 1 to 5 and print i?
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [46]:
#QUESTION 7> Write a code to append the number 10 to the list [1, 2, 3, 4] ?
n=[1,2,3,4,5]
print(n)
n.append(10)
print(n)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

In [48]:
#QUESTION 8>  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
t=[1,2,3,4,5]
print(t)
t.remove(3)
print(t)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [50]:
#QUESTION 9> Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
d=["a","b","c","d"]
print(d)
print(d[2])

['a', 'b', 'c', 'd']
c

In [52]:
#QUESTION 10> Write a code to reverse the list [10, 20, 30, 40, 50] ?
num_1=[10,20,30,40,50]
print(num_1)
num_1.reverse()
print(num_1)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [54]:
#QUESTION 11>  Write a code to create a tuple with the elements 100, 200, 300 and print it?
t_1=(100,200,300)
print(t_1)
type(t_1)

(100, 200, 300)

tuple

In [59]:
#QUESTION 12> Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t_2=("red","green","blue","yellow")
print(t_2)
t_2[-2]

('red', 'green', 'blue', 'yellow')

'blue'

In [63]:
#QUESTION 13>  Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t_3=(10,20,5,15)
print(t_3)
g=min(t_3)
print(g)

(10, 20, 5, 15)
5

In [65]:
#QUESTION 14> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
t_4=("dog","rabbit","cat",)
print(t_4)
t_4.index("cat")

('dog', 'rabbit', 'cat')

2

In [62]:
#QUESTION 15>  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
t_5=("apple","mango","orange",)
if "kiwi" in t_5:
    print("kiwi is in the tuple.")
else:
    print("kiwi is not in tuple")

kiwi is not in tuple

In [8]:
#QUESTION 16>  Write a code to create a set with the elements 'a', 'b', 'c' and print it?
k={"a","b","c"}
print(k)
type(k)

{'c', 'b', 'a'}

set

In [15]:
#QUESTION 17> Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
s_1={1,2,3,4,5}
print(s_1)
s_1.clear()
print(s_1)

{1, 2, 3, 4, 5}
set()

In [16]:
#QUESTION 18> Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s_2={1,2,3,4}
print(s_2)
s_2.remove(4)
print(s_2)

{1, 2, 3, 4}
{1, 2, 3}

In [19]:
#QUESTION 19>  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
s_3={1,2,3}
s_4={3,4,5}
l=s_3|s_4
print(l)

{1, 2, 3, 4, 5}

In [20]:
#QUESTION 20>  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
s_6={1,2,3}
s_7={2,3,4}
k=s_6&s_7
print(k)

{2, 3}

In [46]:
#QUESTION 21>  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
d={"name":"k", "age":24,"city":"Prayagraj"}
print(d)

{'name': 'k', 'age': 24, 'city': 'Prayagraj'}

In [45]:
#QUESTION 22>  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
f={"Name":"John","Age":25}
print(f)
f["country"]="USA"
print(f)

{'Name': 'John', 'Age': 25}
{'Name': 'John', 'Age': 25, 'country': 'USA'}

In [50]:
#QUESTION 23> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
h={"name":"Alice","Age":30}
print(h)
h["name"]

{'name': 'Alice', 'Age': 30}

'Alice'

In [57]:
#QUESTION 24>  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
d_d={"name":"Bob","age":22,"city":"New York"}
print(d_d)
del d_d["age"]
print(d_d)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [61]:
#QUESTION 25> Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
d_f={"name":"Alice","City":"Paris"}
print(d_f)
if "City" in d_f:
    print("City is present in the dictionary")
else:
    print("City is not there")

{'name': 'Alice', 'City': 'Paris'}
City is present in the dictionary

In [63]:
#QUESTION 26>  Write a code to create a list, a tuple, and a dictionary, and print them all?
l_1=[1,2,3,4,5]
t_6={1,2,3,4,5}
dic_d={"name":"Abhishek","age":22}
print(l_1)
print(t_6)
print(dic_d)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{'name': 'Abhishek', 'age': 22}

In [73]:
#QUESTION 27> Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the 
# result.?
l_11=[1,2,87,65,25,47,29,44,63]
print(l_11)
l_11.sort()
print(l_11)

[1, 2, 87, 65, 25, 47, 29, 44, 63]
[1, 2, 25, 29, 44, 47, 63, 65, 87]

In [81]:
#QUESTION 28>  Write a code to create a list with strings and print the element at the third index?
p=["a","b","f","x","g","j"]
print(p)
p[3]

['a', 'b', 'f', 'x', 'g', 'j']

'x'

In [89]:
#QUESTION 29> Write a code to combine two dictionaries into one and print the result?
dic_9={"name":"Abhishek","Age":25}
dic_10={"city":"Prayagraj","pincode":211006}
print(dic_9)
print(dic_10)
dic_9.update(dic_10)
print(dic_9)

{'name': 'Abhishek', 'Age': 25}
{'city': 'Prayagraj', 'pincode': 211006}
{'name': 'Abhishek', 'Age': 25, 'city': 'Prayagraj', 'pincode': 211006}

In [91]:
#QUESTION 30>  Write a code to convert a list of strings into a set?
l_22=["a","d","f","e","f","d"]
d=set(l_22)
print(d)

{'d', 'f', 'e', 'a'}